
.icon-html5:before { content: '\e800'; } /* '' */
.icon-picture:before { content: '\e801'; } /* '' */
.icon-cogs:before { content: '\e802'; } /* '' */
.icon-edit:before { content: '\e803'; } /* '' */
.icon-user:before { content: '\e804'; } /* '' */
.icon-code:before { content: '\f121'; } /* '' */
.icon-css3:before { content: '\f13c'; } /* '' */
.icon-file-code:before { content: '\f1c9'; } /* '' */
.icon-newspaper:before { content: '\f1ea'; } /* '' */
.icon-user-plus:before { content: '\f234'; } /* '' */